* {

    margin: 0;

    padding: 0;

    font-family:  Helvetica, sans-serif;
}
header,
nav,
main,
section,
footer {
    display: block;
}

header {
        width: 100%;
        height: 14.26vh;  
        background: linear-gradient(to bottom, #ffcc99 12%, #ffffff 100%);
}
#logo {
    background-image: url(../images/dronlogo1.png);
    position: absolute;
    justify-content: left;
    width: 150px;
    height: 150px;
    
    
}
.wrapper {
    width: 100%;
    height: 76.36vh;
    background-color: white;
}
#homePageTitle {
    margin-top: 5%;
    font-weight: bold;
}
nav {
    width: 100%;
    height: 80% ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


nav > ul {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    
}
a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
    font-size: 15px;
}


main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.orderMain > p ,h1 {
    margin-top: 10px;
}

.ordersList {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end ;
}
.ordersList > li {
    height: 7.22vh;
    width: 98%;
    background: rgb(233, 233, 233);
    opacity: 100%;
    margin-top: 2.5vh;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    
}
.ordersList > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;

}

.ordersListContainer {
    width: 87.7%;
    
    margin-top: 5vh;
}
.orderAddress {
    font-weight: bold;
    font-size: 120%;
}
.orderDate {
    font-size: 105%;
    opacity: 50%;
}
.orderMain {
    flex-direction: column;
    margin-left: 15%;
    margin-top: 3%;

}
.receiptItemContainer{
   
    width: 60vw;
    
}
.itemContainer {
    width:29vw ;
    min-width: 100px;
    float: left;
    margin-left: 1.5%;
    margin-top: 5%;
    
}
.itemContainer > hr {
    border: 0.5px solid black ;
    margin-top: 2.5%;
}
.itemContainer > ul {
    margin-top: 5%;
}
.buttons {
    width: 35vw;
    display: flex;
    justify-content: space-between;
    
    
}
.buttons > button {
    width:15vw ;
    height: 7vh;
    border-radius: 20px;
    background-color: rgb(245, 163, 163);
    margin-top: 10vh;
    border: none;
    font-size: medium;
    font-weight: bold;
    
    
}
footer {
    width: 100%;
    height:8.78vh ;
    background: linear-gradient(to top, #ffcc99 12%, #ffffff 100%);
    margin-top: 10vh;
}

.droneType {
        width: 150px;
        height: 150px;
        
        margin: 20px;
        border-radius: 15px;
        justify-content: space-evenly;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
}
.droneType > p {
        font-weight: bold;
 }
.droneType > div {
    font-size: 13px;
}
#dron1 {
    background-color: rgb(245, 184, 174);
}
#dron2 {
    background-color: rgb(240, 134, 124);
}
#dron3 {
    background-color: rgb(245, 118, 107);
}
#dron4 {
    background-color: rgb(248, 99, 86);
}
#dron5 {
    background-color: rgb(243, 82, 67);
}

.flexLineBreak {
    flex-basis: 100%;
    height: 0;
}

.droneNavButton {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    margin-top: 60px;
}

#droneTypesContainer {
    display: contents;
}

.nav>ul>li {
    min-width: 100px;
}

/* Mobile */
@media only screen and (max-width: 700px)  {
    .itemContainer {
        width:100%;
    }

    .itemContainer li {
        font-size: 13px;
    }

    .backButton {
        margin-top: 25px;
    }

    .nav>ul>li {
        min-width:60px;
        font-size: 11px;
    }
}

/* Ipad */
@media only screen and (max-width: 1000px) and (min-width: 700px)  {
    .itemContainer li {
        font-size: 15px;
    }
}