* {

    margin: 0;

    padding: 0;

    font-family: Arial, Helvetica, sans-serif;

}


header, main, footer, nav, aside, section, div  {

    display: block;

}

#wrapper {
    margin: 0 auto;
}
.wrapper1, .wrapper2 {
    width: 1000px;
}

.wrapper3 {
    display: flex;
    justify-content: center;
}

header {
    height: 192px;
    background-color: #D6D6D6;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#logo {
    display: block;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
}

.star {
    display: block;
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-position:right;
    margin-left: 290px;
    
}

nav li:hover {
    background: #e5a1ee;
}
.nav1 {
    height: 62px;
    background: #222222;
    display: flex;
    align-items: center;
}

.nav1 ul {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    justify-content: space-evenly;
}

 .nav1 ul li {
    list-style: none;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.nav1 ul li a {
    display: block;
    width: 100%;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}


.selectedLayout {
    background-color: #eb58eb;
}

.plus_button {
    font-size: 150px;
    color: white;
    margin-top: 75px;
    display: inline-block;
}


main {
    height: 756px;
    float: left;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;    
}

.main1 {
    width: 750px;
}
.main2 {
    width: 1000px;
}

@media only screen and (max-width: 700px)
{
    .main3, .wrapper3 {
        width: 100%;
    }
    
}

@media only screen and (min-width: 700px)
{
    .main3, .wrapper3 {
        width: 1000px;
    }
}



.container {
    display: flex;
    flex-wrap: wrap;
    height: 235px;
    width: 235px;
    justify-content: space-between;
    align-content: space-between;
}
.container section {
    height: 100px;
    width: 100px;
    background-color: #B94A48;
}
.container.top {
    margin-left: 38px;
    padding-top: 24px;
}
.container.buttom {
    margin-left: 497px;
    margin-top: 244px ;
}

aside {
    height: 758px;
    width: 250px; 
    background-color: #EEEEEE;
    float: left;
    
}
.aside1 section {
    background-color: #B94A48;
    height: 59px;
    width: 148px;
    margin-top: 261px;
    margin-left: 79px ;
   
}
footer {
    height: 50px;
    background-color: #D6D6D6;
    clear: both;

}
.nav2 {
    width: 146px;
    height: 758px ;
    background-color: #222222;
    float: left;
}

.nav2 ul {
    margin-top: 1px;
    display: block;
}
.nav2 li {
    width: 146px;
    height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.nav2 a {
    margin-left: 6px;
    margin-top: 20px;
    text-decoration: none;
    color: white;
}
.aside2 {
    background-color: #EEEEEE
}
.main2 {
    width: 604px;
    height: 758px ;
    background-color: white;
    display: flex;
}

#greenBox {
    height: 235px;
    width: 235px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 7.5px;
    margin-top: 511px;

}

#greenBox section:nth-child(3) {
    margin-top: 35px;
}
#greenBox section:nth-child(4) {
    margin-top: 35px;
}

#greenBox section {
    background-color:#468847;
    height: 100px;
    width: 100px;
  
}


.leftRectangles {
  
    margin-left: 24px;
    width: 270px;
    margin-top: 24px;
   
}

.rightRectangles {
  
    width: 270px;
    margin-left: 15px;
    margin-top: 24px;
    

}
.square {
    width: 270px;
    background-color: #468847;
    background-color: aq;
    
    display: flex;
   
}
.square_main3_unclicked {
    width: 333px;
    height: 347px;

    display: inline-block; 
   
}
.square_main3_clicked {
    width: 333px;
    height: 347px;
    background-color: white !important;
    background-image: url(../images/dirty\ \(1\).jpg);
    background-repeat:no-repeat;
    display: inline-block; 
    background-position: center;
   
}
#first {
    height: 325px;
}
#secound {
    height: 250px;
}

#third {
    height: 412px;
    margin-top: 24px;
}
#fourth {
    height: 363px; 
    margin-top: 24px;
}

#footer2 {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}
#footer3 {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}
#firstRec{
    height: 348px;
    width: 333px;
    background-color: aquamarine;
   
}


