* {
    margin: 0;
    padding: 0;
}
header,
nav,
main,
section,
footer {
    display: block;
}

body {
    font-family: Lato;
}

a {
    text-decoration: none;
}

header {
    /* Bg */
position: absolute;
width: 1440px;
height: 657px;
left: 1px;
top: 0px;

background: #ED4C5C;

}